---
- name: Ensure apt cache is up to date
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install auditd and audispd-plugins
  ansible.builtin.apt:
    name:
      - auditd
      - audispd-plugins
    state: present

- name: Copy custom audit rules
  ansible.builtin.copy:
    src: custom.rules
    dest: /etc/audit/rules.d/99-custom.rules
    owner: root
    group: root
    mode: '0640'
    notify: Reload auditd rules

- name: Ensure auditd service is enabled and started
  ansible.builtin.service:
    name: auditd
    state: started
    enabled: true
